{% extends 'game/base.html' %}

{% block title%}Profile{% endblock %}

{% block page %}Profile{% endblock %} 

{% block content %} 

<!-- ENTRE JAVASCRIPT HERE-->
<div class="main-bit" style="border: outset black;">
    <div>
        <h3>Username:</h3>
        <p>{{ user.username|default:"guest" }}</p>
    </div>
    <div>
        <h3>Email:</h3>
        <p>{{ user.email|default:"guest" }}</p>
        <!-- <p> user.email </p> -->
    </div>
    <div>
        <h3>Change Password</h3>
        <p>Click here...</p>
    </div>
    <div>
        <h3>Player Points</h3>
        <p>{{ user.player.points|default:"guest" }}</p>
        <!-- <p>user.player.points</p> -->
    </div>
</div>

{% endblock%}

