{% extends 'game/base.html' %}

{% block title%}Game{% endblock %}

{% block page %}Game{% endblock %} 

{% block content %} 
  <style>

    .textInputCenter{
      text-align: center;
    }

    .bottomScreenButtons{
      padding-left: 50px;
    }

    /* Code to make the button round */
    .button {
      background-color: #04AA6D; /* Green */
      border: none;
      color: white;
      padding: 100px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button5 {
      border-radius: 50%;
    }
  </style>

  <!-- Center of screen -->
  <div class="textInputCenter">
    <button class="button button5">50d</button>
  </div>

  <!-- Javascript to change button -->
  <script>
  document.getElementById("demo").outerHTML= "NEW TEXT"; 
  </script>

{% endblock %}
