{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata -->
    <title>Hot and Cold Game</title>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <meta content="Hot and Cold Group Software Project Game" name="description">
    <meta content="GPS Video Game" name="keywords">
    
    <!-- Favicons -->
    <link href="{% static 'game/img/fireIcon.png' %}" rel="icon">
    <link href="{% static 'game/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="{% static 'game/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'game/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'game/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'game/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'game/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'game/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'game/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="{% static 'game/css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <!-- Header -->
    <header id="header" class="fixed-top ">
      <!-- Title -->
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="{% url 'home' %}">Hot & Cold</a></h1>

        <!-- Navigation -->
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
              {% if user.player.is_game_master %}
                <li><a class="nav-link scrollto" href="{% url 'create event' %}">Create Event</a></li>
              {% endif %}
                <li><a class="nav-link scrollto" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
                <li><a class="getstarted scrollto" href="{% url 'game' %}">Game</a></li>
              {% else %}
                <li><a class="nav-link scrollto" href="{% url 'register' %}">Account Creation</a></li>
                <li><a class="getstarted scrollto" href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>

    <!-- Hero -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1>Best Hot & Cold game made with latest GPS technology</h1>
            <h2>We are a talented group of Computer Science students from the University of Exeter.</h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="{% url 'login' %}" class="btn-get-started scrollto">Play Game</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
    	      <img src="{% static 'game/img/gifFireIcon.png' %}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
    </section>


    <!-- Main -->
    <main id="main">
      <!-- Clients -->
      <section id="clients" class="clients section-bg">
        <div class="container">
          <div class="row" data-aos="zoom-in">
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="{% static 'game/img/exeterUniIcon.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="{% static 'game/img/exeterCityCouncil.png' %}" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </section>

      <!-- About Us -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About Us</h2>
          </div>
          <div class="row content">
            <div class="col-lg-6">
              <p>This project was made for the Group Software Engineering Project in which we have developed an app using the latest geolocation API technology to make a fun and exciting Hot and Cold GPS location based game!</p>
              <ul>
                <li><i class="ri-check-double-line"></i> Latest GPS Technology</li>
                <li><i class="ri-check-double-line"></i> Google API Technology</li>
                <li><i class="ri-check-double-line"></i> Django Backend Libraries</li>
                <li><i class="ri-check-double-line"></i> Bootstrap Frontend Libraries</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>This project aims to be a fun next generation game developement project. Developed in a small team, it aims to achieve the heights further than popular games such as "Among Us" and "PUBG Battle Royale"</p>
              <a href="{% url 'login' %}" class="btn-learn-more">Play Now!</a>
            </div>
          </div>
        </div>
      </section>

      <!-- CTA -->
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Join Us and Play Now!</h3>
              <p>For a limited time now you are able to create an account FOR FREE and can sign up to be apart of our beta test for our Hot and Cold game.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="{% url 'register' %}">Create an Account</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Frequently Asked Questions -->
      <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>Here are some of the most frequently asked questions that were asked by our beta and alpha testers of the game!</p>
          </div>
          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Does the app store my GPS data location?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                  <p>No, the application does not. It uses the current user location locally on the device to calculate the distance of the player to the destination location.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Is there mobile support?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                  <p>There is mobile support for these pages, however depending on your device we reccomend you to play it on a larger screen such as a tablet or monitor.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Is the application open source?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                  <p>Yes, the entire project is open source and can be found on GitHub. Feel free to contribute following the procedures found on the README page on the GitHub repository.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    <footer id = "footer">
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>ExeterGroupSoftwareProject</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Inspiration from: <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'game/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'game/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'game/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'game/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'game/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'game/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'game/vendor/php-email-form/validate.js' %}"></script>
    
    <!-- Template Main JS File -->
    <script src="{% static 'game/js/main.js' %}"></script>
  </body>
</html>
