<!DOCTYPE html>
<html>

<head>
<style>
.topBorder{
  border: 2px outset black;
  background-color: lightblue;    
  text-align: center;
}

.currentBorderTitle{
  border: 2px outset black;
  background-color: darkorange;    
  text-align: center;
}

.textInputCenter{
	text-align: center;
}

.bottomScreenButtons{
	padding-left: 50px;
}

</style>
</head>

<body>
<!-- Welcome to hot or cold logo at top -->
<div class="topBorder">
  <h1>Welcome to HOT or COLD</h2>
</div>

<!-- Current title border -->
<h2 class="currentBorderTitle">Login Sucess!</h3>

<!-- User input for account creation div: -->
<div class="textInputCenter">
	<form>
		<label for="emailInput">Email:</label><br>
		<input type="text" id="emailInput" name="emailInput">
		<br><br>

		<label for="userName">Username:</label><br>
		<input type="text" id="usernameInput" name="usernameInput">
		<br><br>
		
		<label for="passwordInput">Password:</label><br>
		<input type="text" id="passwordInput" name="passwordInput">
		<br><br>

		<button>Create Account</button>
	</form>
	<br><br>
</div>

<!-- Back button -->
<div class="bottomScreenButtons">
	<button id="returnButton">BACK</button>
</div>


</body>

</html>
