{% extends 'game/base.html' %}

{% block title%}Profile{% endblock %}

{% block page %}Profile{% endblock %} 

{% block content %} 

<!-- ENTRE JAVASCRIPT HERE-->
<div class="main-bit" style="border: outset black;">
    <div>
        <h3>Username:</h3>
        <p>Username......</p>
    </div>
    <div>
        <h3>Email:</h3>
        <p>Email.....</p>
    </div>
    <div>
        <h3>Change Password</h3>
        <p>Click here...</p>
    </div>
    <div>
        <h3>Total Points:</h3>
        <p>points....</p>
    </div>
</div>

{% endblock%}

